body {
    background-image: url(images/myroom.png);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

header {
    display: flex;
}

h1 {
    font-size: 35px;
    letter-spacing: .5rem;
    padding-top: 5px;
    font-weight: normal;
    margin: auto;
    color: white;
    font-family: 'Bebas Neue', cursive;;
}

footer {
    display: flex;
}

p {
    font-size: 20px;
    letter-spacing: .2rem;
    padding-top: 20px;
    font-weight: normal;
    margin: auto;
    color: white;
    font-family: 'Bebas Neue', cursive;;
}


main {
    display: flex;
    max-width:fit-content;
    margin: auto;
}

img {
    transition: transform .2s;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 20px;
    margin: auto;
    height: 650px;

}

img:hover {
    transform: scale(1.05)
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.show {
    visibility: visible;
    opacity: 1;
}

#overlay1 {
    position: absolute;
    background-image: url(images/acotar.png);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border: solid white 3px;
    top: 100px;
    left: 150px;
    width: 75vw;
    height: 75vh;
    transition-property: opacity, visibility;
    transition-duration: 2s;
    transition-timing-function: ease;
}

#overlay2 {
    position: absolute;
    background-image: url(images/acomaf.png);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border: solid white 3px;
    top: 100px;
    left: 150px;
    width: 75vw;
    height: 75vh;
    transition-property: opacity, visibility;
    transition-duration: 2s;
    transition-timing-function: ease;
}

#overlay3 {
    position: absolute;
    background-image: url(images/acowar.png);
    background-color: #cccccc; 
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border: solid white 3px;
    top: 100px;
    left: 150px;
    width: 75vw;
    height: 75vh;
    transition-property: opacity, visibility;
    transition-duration: 2s;
    transition-timing-function: ease;
}

#overlay4 {
    position: absolute;
    background-image: url(images/acofas.png);
    background-color: #cccccc; 
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border: solid white 3px;
    top: 100px;
    left: 150px;
    width: 75vw;
    height: 75vh;
    transition-property: opacity, visibility;
    transition-duration: 2s;
    transition-timing-function: ease;
}

#overlay5 {
    position: absolute;
    background-image: url(images/acosf.png);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border: solid white 3px;
    top: 100px;
    left: 150px;
    width: 75vw;
    height: 75vh;
    transition-property: opacity, visibility;
    transition-duration: 2s;
    transition-timing-function: ease;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 1rem;
    margin: 0;
    text-decoration: none;
    background:rgba(255, 255, 255, 0.4);
    color: black;
}

button:hover{
    background:white;
}

a:link {
    color: white;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color:white;
    text-decoration: underline;
  }
  