body {
    font-family: Hack, monospace;
    background-color: #1b1f22;
    color: #aab1be;

}

ul {
    list-style-type: none;
    padding-left: 50px;
}
a {
    color: #aab1be;
    transition: color 0.5s, font-size 0.5s;
}

a:hover {
    font-size: 1.1em;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

#banner h1 {
    
    overflow: hidden; 
    border-right: .15em solid #8fb774; 
    white-space: nowrap; 
    margin: 0 auto;
    padding-left: 20px;
    letter-spacing: .20em; 
    animation: 
      typing 3.5s steps(40, end),
      blink .75s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: #8fb774; }
  }

header h1, h2{
    display: block;
    font-weight: normal;
    font-size: 1.25em;
    padding-left: 20px;
    margin-right: 55px;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.sec1 {
    background-color: #282c34;
    height: 400px;
    padding-left: 50px;
    padding-top: 30px;
    box-shadow: 4px 4px #55b4bf;
    border-radius: 15px 0px 0px 50px;
    
}

.sec2 {
    background-color: #282c34;
    height: 400px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    box-shadow: 4px 4px #55b4bf;


    
}

.sec3 {
    background-color: #282c34;
    height: 400px;
    padding-right: 150px;
    padding-top: 30px;
    box-shadow: 4px 4px #55b4bf;
    border-radius: 0px 50px 15px 0px;


}

.sec1 h1 {
    color: #e06b75;
    font-weight: normal;
    font-size: 1.2em;
    
}

.sec2 h1 {
    font-weight: normal;
    font-size: 1.2em;
}

.sec3 h1 {
    font-weight: normal;
    font-size: 1.2em; 
}

.sec1 h2{
    color: #e06b75;
    font-size: 1em;
    font-weight: normal;
    padding-left: 20px;
}

.sec2 h2 {
    font-size: 1em;
    font-weight: normal;
    padding-left: 20px;
}

.sec3 h2 {
    font-size: 1em;
    font-weight: normal;
    padding-left: 20px;
}

.ab {
    color:#aab1be;
}

.sub {
    color: #cd9664;
}

.subofsub {
    color: #8fb774;
}

.sub3 {
    color:#55b4bf;
}

.titles {
    color:#e06b75;
}

.title2 {
    color: #d29966;
}

.yellows {
    color: #f9d105;
}

.java {
    color: #c678dd;
}

.flavortext {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 30px;
}

.skew-tutorial{
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
    transform-origin: 0 100%;
    padding-bottom: 2px;
  }
  .skew-tutorial:hover, .skew-tutorial:focus, .skew-tutorial:active {
    transform: skew(-10deg);
    color: #cd9664;
  }
  
