div {
    display: flex;
    margin: auto;

}

header {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 200px;
    padding-left: 30px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 0;
    margin-bottom: 0;
}

header img {
    margin: auto;
    width: 150px;
    height: 150px;
    padding-top: 20px;
}


.book1 img {
    margin: auto;
    padding-left: 40px;
    
}

section {
    display: flex;
    flex-direction: column;
}

button {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

span {
    font-size: 60px;
}

.quotes p {
    margin: auto;
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 40px;
    padding-top: 700px;
    padding-bottom: 700px;
    padding-left: 80px;
    padding-right: 80px;
    line-height: 1.4em;
    letter-spacing: .5px;

}

.book1 h2 {
    font-size: 125px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    line-height: 1em;
    padding-left: 40px;
    margin-top: 0;
    margin-bottom:0;

    
}


.book2 img {
    margin: auto;
    padding-right: 40px;
}

.book2 h2 {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 125px;
    font-weight: lighter;
    line-height: 1em;
    padding-right: 40px;
    margin-top: 0;
    margin-bottom: 0;
}