body {
    font-family: 'Oxanium', cursive;
    background-image: url(images/code.gif);
    height: 900px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.5em;
}

button { 
    padding: 10px;
    background: none;
    font-weight: bold;
    color: greenyellow;
    margin: auto;
}


div {
    padding: 0px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.66);
}



img {
    padding: 30px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.show {
    visibility: visible;
    opacity: 1;
}

footer {
    display: flex;
}
a {
    margin: auto;
    text-decoration: none;
    color: white;
    padding-top: 0px;
}

a:visited {
    color: white;
}

#startgame {
    font-size: 50px;
    margin-top: 50px;
    padding: 20px;
}

#quit {
    margin-top: 40px;
    padding: 10px;
}

#roll {
    margin: auto;
    margin-bottom: 20px;
}

#instructions {
    background-color: rgba(0, 0, 0, 0.66);
    display: block;
    padding: 20px;
}


#gamecontrol, #score {
    background-color: rgba(0, 0, 0, 0.66);
    margin: auto;
}

#score {
    justify-content: space-between;
    font-size: 60px;
    padding-left: 50px;
    padding-right: 50px;
    
}

.green {
    color: greenyellow;
    font-weight: bolder;
}

#game  {
    background-color: rgba(0, 0, 0, 0.66);
    font-size: 200px;
    margin: auto;
    justify-content: center;

}


#game img {
    height: 300px;
    width: 300px;

}
#actions {
    margin: auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.66);

}

#actions p {
    margin: auto;
}

#warning {
    color: red;
    font-size: 30px;
    font-weight: bolder;
    animation: blinker 1s linear infinite;
    padding-bottom: 30px;
}

#success {
    color: greenyellow;
    font-size: 60px;
    padding-bottom: 100px;
    margin: auto;
    font-weight: bolder;
    animation: blinker 1s linear infinite;

}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

