/*header*/

header {
    display: flex;
    flex-direction: column;
}

header h1 {
    font-size: 200px;
    padding-left: 30px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 0;
    margin-bottom: 0;
}

header img {
    margin: auto;
    width: 200px;
    height: 200px;
    padding-top: 20px;
}

span {
    font-size: 60px;
}

.empty {
    background-color: white;
    padding-top: 400px;
    padding-bottom: 400px;
}


/*quotes*/


#acotarquote, #acomafquote, #acowarquote, #acofasquote, #acosfquote {
    display:flex;
}

#acotarquote p, #acomafquote p, #acowarquote p, #acofasquote p, #acosfquote p {
    margin: auto;
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 40px;
    padding-left: 80px;
    padding-right: 80px;
    line-height: 1.4em;
    letter-spacing: .5px;
}


/* left aligned divs */


#acotarbook, #acowarbook, #acosfbook {
    display: flex;
}
section{
    display: flex;
    flex-direction: column;
}

#acotarbook img, #acowarbook img, #acosfbook img {
    padding-left: 40px;
} 

#acotarbook section h2, #acowarbook section h2, #acosfbook section h2{
    font-size: 125px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    line-height: 1em;
    padding-left: 40px;
    margin-top: 0;
    margin-bottom:0;
}

#acotarbook section a,#acowarbook section a, #acosfbook a {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}


/* right aligned divs */


#acomafbook, #acofasbook {
    display: flex
}

#acomafbook img, #acofasbook img {
    padding-right: 40px;
}

#acomafbook section h2, #acofasbook section h2 {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 125px;
    font-weight: lighter;
    line-height: 1em;
    padding-right: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

#acomafbook section a, #acofasbook section a {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}


/* button hover states */

.hvr-shutter-in-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: black;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-shutter-in-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e1e1e1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
    color: white;
  }
  .hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }


/* arrow bounce */

.bounce {
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(3, 3, 3, 3);
    animation-iteration-count: infinite;
}
  
@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 70px, 0);
    }
}
/* Prefix Support */
  
ball {
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: cubic-bezier(
    .5, 0.05, 1, .5);
    -webkit-animation-iteration-count: infinite;
}
  
@-webkit-keyframes bounce {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 200px, 0);
        transform: translate3d(0, 200px, 0);
    }
}


/* scrolling animations */

.js-scroll {
    opacity: 0;
    transition: opacity 1000ms;
  }
  .js-scroll.scrolled {
    opacity: 1;
  }

  .scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
  }

  .scrolled.slide-left {
    animation: slide-in-left 2s ease-in-out both;
  }
  .scrolled.slide-right {
    animation: slide-in-right 2s ease-in-out both;
  }
  @keyframes slide-in-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }