body {
    font-family: Calibri, sans-serif;
    background-color: #f3f3f3;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #899ab7;
    margin-bottom: 20px;
}

header h1 {
    color: #f1f0ec;
    display: block;
    font-weight: normal;
    font-size: 20px;
    padding-left: 10px;

}

header h2 {

    color: #f1f0ec;
    display: block;
    font-weight: normal;
    font-size: 15px;
    padding-right: 10px;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

label {
    display: block;
    margin: 2px;
}

input[type=text] {
    display: block;
    margin: 2px;
}

input[type=submit] {
    display: block;
    background-color: red;
    color: #f1f0ec;
    border-radius: 10px;
    border-color: darkred;
    padding: 7px;
    align-items: center;

}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1.2s;
    transition-timing-function: ease;

}

#overlay h2 {
    font-size: 18px;
    font-weight: normal;
    background-color: #f3f3f3;
    padding: 2px;
    margin-left: 5px;
}

#overlay section {
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#overlay article {
    padding: 20px;
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}
